:root {
  --primary: #fff;
  --secondary: #000000;
  --red: red;
  --yellow: #ffff00;
  --crimson: crimson;
  --blanchedalmond: blanchedalmond;
  --green: green;
}

body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  color: var(--blanchedalmond);
  font-family: sans-serif, cursive;
}

p {
  text-align: center;
  color: var(--primary);
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  word-spacing: 5px;
}

.input {
  width: 60%;
  height: 30vh;
  border: 3px solid var(--red);
  border-radius: 25px;
  margin: 0.5rem;
  padding: 1rem;
  outline: none;
  display: block;
  margin: 0 auto;
}

#input-btn {
  background-color: var(--yellow);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 15px;
  cursor: pointer;
  margin: centre;
  margin: 25px 47%;
  height: 43px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

#output {
  width: 60%;
  height: 15vh;
  border: 3px solid var(--green);
  border-radius: 25px;
  margin: 0.5rem auto;
  padding: 1rem;
  color: var(--primary);
  font-family: monospace;
  font-size: 20px;
}

footer {
  background: var(--secondary);
  padding: 15px 23px;
  color: var(--primary);
  text-align: center;
  width: 100%;
}

footer span a {
  color: var(--crimson);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
